* {
  box-sizing: border-box;
}

:root {
  /* Global variables */
  --doddle-gray: #444444;
  --doddle-font: "Roboto", sans-serif;
  --doddle-orange: #ff6600;
  --doddle-white: #ffffff;
}

body {
  color: var(--doddle-gray);
  font-family: var(--doddle-font);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.main {
  background-color: var(--doddle-gray);
  border-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  min-height: 100vh;
}

.content {
  text-align: center;
  position: relative;
  padding: 10px;
}

.interface button i {
  font-size: 2.5rem;
  font-weight: bold;
}

.interface button {
  background-color: var(--doddle-orange);
  border-radius: 10px;
  border-style: none;
  color: var(--doddle-white);
  font-size: 1.5rem;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.1s;
  box-shadow: 3px 3px 3px 3px black;
}

.interface button:hover {
  background-color: var(--doddle-gray);
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid black;
}

.interface {
  display: flex;
  justify-content:space-between;
}

/* Help text */
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: var(--doddle-white);
  border: 2px solid var(--doddle-gray);
  color: var(--doddle-orange);
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 15%;
  margin-right: -55px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 5px 5px 5px 5px black;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--doddle-font);
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-right: -3px;
  border-width: 15px;
  border-style: solid;
  border-color: var(--doddle-gray) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.screen {
  background-color: var(--doddle-white);
  border-radius: 10px;
  padding: 50px 50px 25px 50px;
  margin: 5px auto;
  text-transform: capitalize;
}

.help-text {
  background-color: var(--doddle-white);
  color: var(--doddle-orange);
  border-style: solid;
  border-width: 3px;
  border-color: var(--doddle-gray);
  border-radius: 5px;
  bottom: 50vh;
  right: 5vw;
  width: 25rem;
  box-shadow: 5px 5px 5px 5px black;
  font-family: var(--doddle-font);
  font-size: 1.5rem;
  z-index: 10;
}

.help-text p {
  margin: 10px;
}

.startPanel {
  background-color: var(--doddle-white);
  border-radius: 5px;
  border-color: var(--doddle-gray);
  border-width: 3px;
  border-style: solid;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  box-shadow: 10px 10px 10px 0px black;
}

.startPanel p {
  margin: 100px;
}

.intro img {
  width: 600px;
}

.heading {
  color: var(--doddle-gray);
  text-align: center;
}

.intro,
.help-text,
.startPanel {
  position: absolute;
}

/* Content_________________________________________________________________ */

.clock-work {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  position: relative;
}

.step-size {
  background-color: skyblue;
  border-radius: 8px;
  box-shadow: 2px 2px black;
  text-transform: capitalize;
  text-align: center;
  padding: 50px;
  z-index: 6;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  font-size: 1.6rem;
  min-height: 135px;
  transition: 0.5s ease-in-out;
}

.hide {
  display: none;
}

.inputs {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: none;
  min-width: 205.271px;
  transition: all 0.6s ease;
}

.clock-controls {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  left: 0;
  transform: translateY(-100%);
}

.clock-controls i {
  padding: 8px;
  font-size: 3.5rem;
  border: 2px solid navy;
  border-radius: 50%;
  color: darkblue;
  transition: ease-in-out 0.1s;
}

.clock-controls i:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: gray;
}

.inputs .place-holder {
  width: 90px;
  height: 40px;
  padding: 5px;
  vertical-align: center;
  text-align: center;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  display: inline-block;
  line-height: 38px;
  font-size: 1.5rem;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #444;
  user-select: none;
  transition: 0.1s ease-in-out;
}

.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement:hover {
  background-color: tomato;
}

.input-number-increment:hover {
  background-color: springgreen;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.inputs button {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: springgreen;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.2rem;
  color: white;
}

.inputs button:hover {
  background-color: rgb(163, 255, 209);
  color: #444444;
}

/* Clock body */
.clock {
  position: relative;
}

.clock_face {
  width: 25rem;
  height: 25rem;
  border: 1.25rem solid #444444;
  border-radius: 50%;
  background-color: lime;
  /* padding: 1rem; */
}

.center {
  z-index: 4;
  position: relative;
  top: 3%;
  left: 45.5%;
  width: 1px;
  height: 1px;
  border: 12px solid goldenrod;
  border-radius: 50%;
  background-color: goldenrod;
}

.hand {
  transform-origin: 100%;
  position: relative;
  top: 49%;
  left: 10%;
  height: 6px;
}

.hour_hand {
  background-color: black;
  left: 23%;
  width: 27%;
  z-index: 2;
  transition: all 0.05s;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.39, 1.95, 0.41, 1.67);
}

.min_hand {
  z-index: 3;
  left: 10%;
  width: 41%;
  background-color: black;
  transform-origin: 100%;
  transition: all 0.05s;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.39, 1.95, 0.41, 1.67);
}

.sec_hand {
  z-index: 1;
  top: 8%;
  left: 47%;
  width: 3%;
  height: 45%;
  background-color: navy;
  fill: black;
  transform-origin: bottom;
  transform-box: fill-box;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.39, 1.95, 0.41, 1.67);
  box-shadow: 2px -2px 5px 2px black;
}

.display {
  z-index: 4;
  width: 40%;
  background-color: white;
  border: 2px solid navy;
  position: absolute;
  top: 60%;
  left: 32%;
  text-align: center;
  line-height: 2;
  font-size: 2.2rem;
  font-weight: 800;
  box-shadow: 8px 8px black;
  display: flex;
  justify-content: center;
}

.fraction {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: center;
  line-height: 0.2;
}

.fraction hr {
  width: 50%;
  border: 2px solid #444444;
}

.fraction span {
  margin: 0;
  padding: 0;
}

/* Media queries: */
/* @media screen and (width > 1300px) {
  .hide {
    transform: translateY(-100%);
    left: 20%;
    position: absolute;
  }
} */

@media screen and (max-width: 840px) {
  .clock-work {
    flex-direction: column;
  }

  .clock-controls {
    bottom: 55%;
    position: absolute;
    width: 100%;
    transform: translateY(0);
  }

  .clock {
    transform: translate(0, 40%);
  }

  .clock-work {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 440px) {
  .clock_face {
    width: 16rem;
    height: 16rem;
  }

  .display {
    line-height: 1.5;
    font-size: 1.5rem;
  }

  .fraction {
    font-size: 0.8rem;
  }

  .clock-controls {
    bottom: 50%;
  }

  .clock {
    transform: translate(0, 50%);
  }
}

@media screen and (max-width: 345px) {
  .clock-controls {
    bottom: 45%;
  }
  .clock {
    transform: translateY(70%);
  }
}

@media screen and (max-width: 280px) {
  .clock-controls {
    bottom: 40%;
  }

  .clock_face {
    width: 10rem;
    height: 10rem;
  }
}
