* {
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #444444;
  border-radius: 10px;
  border-style: none;
  height: 783px;
  position: relative;
  width: 78.15rem;
  margin: auto;
}

.content {
  margin: 10px auto;
  text-align: center;
  position: relative;
  padding: 10px;
}

.interface button {
  background-color: #ff6600;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 15px;
  margin-left: 10px;
  transition: 0.1s;
  text-transform: capitalize;
}

.interface button:hover {
  background-color: #444444;
  box-shadow: 0 0 0 3px #fff;
  cursor: pointer;
}

.interface {
  margin: 20px auto;
  text-align: right;
}

.screen {
  background-color: #fff;
  height: 680px;
  margin: 5px auto;
  width: 75rem;
  text-transform: capitalize;
}

.help-text {
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: #444;
  border-radius: 5px;
  bottom: 100px;
  right: 30px;
  width: 25rem;
}

.help-text p {
  margin: 10px;
}

.intro img {
  width: 600px;
}

.heading {
  color: #444;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.intro,
.help-text,
.heading,
.startPanel {
  position: absolute;
}

/* Content_________________________________________________________________ */
.clock-work {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 150px;
  position: relative;
}

.step-size {
  background-color: skyblue;
  align-self: center;
  border-radius: 8px;
  box-shadow: 2px 2px black;
  text-transform: capitalize;
  text-align: center;
  padding: 50px;
  z-index: 6;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  margin-bottom: 40px;
  font-size: 1.6rem;
  margin-left: 25px;
}

.hide {
  visibility: hidden;
  transform: translate(1.2);
}

.inputs {
  position: absolute;
  right: 67%;
  top: 50%;
  z-index: 5;
}

.inputs:nth-child(2) {
  top: 58%;
}

.clock-controls {
  position: absolute;
  right: 65%;
  top: 78%;
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 10px;
}

.clock-controls i {
  padding: 20px;
  font-size: 2rem;
  border: 1px solid navy;
  border-radius: 50%;
  color: darkblue;
  transition: ease-in-out 0.1s;
}

.clock-controls i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inputs .place-holder {
  width: 90px;
  height: 40px;
  padding: 5px;
  vertical-align: center;
  text-align: center;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  display: inline-block;
  line-height: 38px;
  font-size: 1.5rem;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border: 2px solid #444;
  user-select: none;
  transition: 0.1s ease-in-out;
}

.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement:hover {
  background-color: tomato;
  transform: scale(1.2);
}

.input-number-increment:hover {
  background-color: springgreen;
  transform: scale(1.2);
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.inputs button {
  display: block;
  width: 50%;
  border-radius: 5px;
  border: none;
  background-color: springgreen;
  cursor: pointer;
  position: absolute;
  margin-top: 60px;
  left: 25%;
}

.inputs button:hover {
  transform: scale(1.1);
}

/* Clock body */
.clock {
  position: relative;
}

.clock_face{
  margin: 10% auto;
  width: 25rem;
  height: 25rem;
  border: 20px solid black;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.center{
  z-index: 4;
  position: relative;
  top: 40%;
  left: 45%;
  width: 1px;
  height: 1px;
  border: 10px solid black;
  border-radius: 50%;
  background-color: black;
}

.hand{
  transform-origin: 100%;
  position: relative;
  top: 49%;
  left: 10%;
  height: 6px;
}

.hour_hand{
  background-color: black;
  left: 23%;
  width: 27%;
  z-index: 2;
  transition: all 0.05s;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(.39, 1.95, .41, 1.67);
}

.min_hand{
  z-index: 3;
  left: 10%;
  width: 41%;
  background-color: black;
  transition-origin: 100%;
  transition: all 0.05s;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(.39, 1.95, .41, 1.67);
}

.sec_hand{
  z-index: 1;
  top: 47%;
  left: 5%;
  width: 45%;
  background-color: white;
  transform-origin: 99%;
  transition: all 0.05s;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(.39, 1.95, .41, 1.67);
}

.display {
  z-index: 4;
  padding: 15px 40px;
  background-color: white;
  border: 2px solid navy;
  position: absolute;
  top: 60%;
  left: 34%;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  box-shadow: 2px 2px black;
}
