:root {
  /* Global variables */
  --doddle-gray: #444444;
  --doddle-font: "Roboto", sans-serif;
  --doddle-orange: #ff6600;
  --doddle-white: #ffffff;
  --doddle-purple: #630560;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--doddle-font);
  background-color: var(--doddle-purple);
  overflow: hidden;
}
