/* Credit: https://alvaromontoro.com/blog/67993/building-a-coordinate-system-with-html-and-css#what-next */
:root {
    /* Global variables */
    --doddle-gray: #444444;
    --doddle-font: "Roboto", sans-serif;
    --doddle-orange: #ff6600;
    --doddle-white: #ffffff;
}

/* * {
    box-sizing: border-box;
  } */

body {
    color: var(--doddle-gray);
    font-family: var(--doddle-font);
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.main {
    background-color: var(--doddle-gray);
    border-style: none;
    position: relative;
    margin: 0;
    padding: 0 0 20px 0;
    min-height: 100vh;
}

.content {
    text-align: center;
    position: relative;
    padding: 10px;
}

.interface button i {
    font-size: 2.5rem;
    font-weight: bold;
}

.interface button {
    background-color: var(--doddle-orange);
    border-radius: 10px;
    border-style: none;
    color: var(--doddle-white);
    font-size: 1.5rem;
    font-weight: bold;
    width: 80px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.1s;
    box-shadow: 3px 3px 3px 3px black;
}

.interface button:hover {
    background-color: var(--doddle-gray);
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px;
    border: 1px solid black;
}

.interface {
    display: flex;
    justify-content: space-between;
}

/* Help text */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 40vw;
    background-color: var(--doddle-white);
    border: 2px solid var(--doddle-gray);
    color: var(--doddle-orange);
    text-align: left;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 15%;
    margin-right: -55px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 5px 5px 5px 5px black;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--doddle-font);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-right: -3px;
    border-width: 15px;
    border-style: solid;
    border-color: var(--doddle-white) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.screen {
    background-color: var(--doddle-white);
    border-radius: 10px;
    padding: 50px 50px 25px 50px;
    margin: 5px auto;
}

.startPanel {
    background-color: var(--doddle-white);
    border-radius: 5px;
    border-color: var(--doddle-gray);
    border-width: 3px;
    border-style: solid;
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    min-width: 40%;
    box-shadow: 10px 10px 10px 0px black;
}

.startPanel p {
    margin: 100px;
}

.intro img {
    width: 600px;
}

.heading {
    color: var(--doddle-gray);
    text-align: center;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.intro,
.startPanel {
    position: absolute;
}

/* Content_________________________________________________________________ */
.game-area {
    border: 1rem solid navy;
    border-radius: 0.625rem;
    padding: 1.1rem 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.cartesian-plate {
    width: 50%;
}

.controls {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* First Control */
.first,
.second,
.display-message {
    border: 0.5rem solid red;
    display: flex;
    padding: 0.625em;
    font-size: 16px;
    width: 60%;
    height: 20vh;
}

.display-message {
    border-color: navy;
    border-radius: 0.625rem;
    visibility: hidden;
    margin-bottom: 1.5rem;
    font-size: 2em;
    text-align: left;
    color: navy;
    transition: all 0.3s ease;
}

.left-bracket,
.right-bracket,
.comma {
    align-self: center;
    font-size: 5em;
    color: navy;
    font-family: Arial, Helvetica, serif;
    user-select: none;
}

.number {
    text-align: center;
    font-size: 2em;
    user-select: none;
    align-self: center;
    font-weight: bold;
    color: navy;
    background-color: yellow;
    padding: 0;
    border-left: 0.125rem solid navy;
    border-right: 0.125rem solid navy;
}

.up-arrow,
.down-arrow {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    width: 6.25rem;
    background-color: greenyellow;
    color: navy;
    border: 0.125rem solid navy;
    transition: 0.1s ease;
}

.up-arrow {
    border-radius: 0.5rem 0.5rem 0 0;
}

.down-arrow {
    border-radius: 0 0 0.5rem 0.5rem;
}

.up-arrow:hover,
.down-arrow:hover {
    border-radius: 0.5rem;
    transform: scale(1.1);
    cursor: pointer;
}

.red_ball,
.blue_ball {
    font-size: 5em;
    text-align: center;
    padding: 0;
    margin: 0;
    align-self: center;
    color: red;
    border: none;
    transition: 0.1s ease;
    background-color: transparent;
    position: relative;
}

.red_ball:hover,
.blue_ball:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform: translateX(5%);
}

/* Second Control */
.second {
    border-color: blue;
    margin-top: 1.25rem;
}

.blue_ball {
    color: blue;
}

/* Grid for plotting points */
.axis {
    --c: 10;
    --cx: 5;
    --cy: 5;
    --dsize: 10;
    --dcolor: #369;
    --size: 100%;
    position: relative;
    width: var(--size);
    height: 0;
    padding-top: var(--size);
    box-sizing: border-box;
    aspect-ratio: 1/1;
    background-image:
        linear-gradient(#0000 calc(var(--cy) * 33.5% / var(--c) - 1px), navy 0 calc(var(--cy) * 33.5% / var(--c) + 5px), transparent 0),
        linear-gradient(to right, #0000 calc(var(--cx) * 80% / var(--c) - 1px), navy 0 calc(var(--cx) * 80% / var(--c) + 5px), transparent 0),
        repeating-linear-gradient(green 0 1px, #0000 0 calc(100% / var(--c) - 0.5px), green 0 calc(100% / var(--c))),
        repeating-linear-gradient(to right, green 0 0.5px, aquamarine 0 calc(100% / var(--c) - 0.5px), green 0 calc(100% / var(--c)));
    margin: auto;
}

.axis.no-overflow {
    overflow: hidden;
}

/* Y-Axis */
.y-axis {
    position: absolute;
    z-index: 9;
    left: 43%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.y-pic-1 {
    position: absolute;
    top: -3%;
    transform: translateX(70%);
    user-select: none;
}

.y-pic-2 {
    position: absolute;
    user-select: none;
    bottom: -3%;
    rotate: 180deg;
    transform: translateX(-75%);
}

.y-axis p {
    padding: 0;
    margin: 50% 0;
    font-size: 1.8em;
    color: navy;
    font-weight: bold;
    user-select: none;
    position: relative;
}

.y-axis span {
    user-select: none;
    position: absolute;
    top: -5%;
    left: 200%;
    font-size: 2em;
    color: navy;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

/* X-Axis */
.x-axis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
}

.x-axis span {
    font-size: 1.8em;
    color: navy;
    font-weight: bold;
    margin: 0;
    padding: 0 8% 0 0;
    position: relative;
    user-select: none;
}

.x-axis p {
    position: absolute;
    right: -7%;
    font-size: 2em;
    color: navy;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    bottom: 50%;
}

.x-pic-1 {
    position: relative;
    transform: rotate(-90deg) translate(50%, 160%);
}

.x-pic-2 {
    position: relative;
    transform: rotate(90deg) translate(-50%, 160%);
}

/* Plot red ball */
.plot-red {
    border-radius: 50%;
    background-color: red;
    width: 1.875em;
    height: 1.875em;
    position: absolute;
    z-index: 20;
}

/* Plot blue ball */
.plot-blue {
    border-radius: 50%;
    background-color: blue;
    width: 1.875em;
    height: 1.875em;
    position: absolute;
    z-index: 20;
}

.dot {
    --translationUnit: 100% / var(--c);
    --translationX: var(--translationUnit) * var(--cx);
    --translationY: var(--translationUnit) * var(--cy);
    /* Vertical is "flipped" in CSS: higher values go down! Do negative! */
    --y: calc(var(--translationY) - var(--translationUnit) * var(--function));
    width: calc(var(--dsize) * 1px);
    height: calc(var(--dsize) * 1px);
    background: var(--dcolor);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /* left: calc(var(--translationX) + var(--x) * var(--translationUnit)); */
    left: 100%;
    top: var(--y);
    /* top: 50%; */
}

/* Demo functions */
#axis_x-3 {
    /* --size: 350px; */
    /* --size: 450px; */
    /* --size: 50vw; */
    --size: 100%;
}

#axis_x-3 .dot {
    /**
     * f(x) = x - 3
     *        x = var(--x)
     */
    --function: calc(var(--x) - 3);
}


/* demo - display only */
/* html,
body {
    font-family: Helvetica, Arial, sans-serif;
}

article {
    margin: 30px;
} */

/* Media Queries */
@media screen and (max-width: 1150px) {
    .game-area {
        flex-direction: column;
    }

    #axis_x-3 {
        margin-top: 50px;
    }

    .cartesian-plate,
    .controls {
        width: 100%;
    }

    .first,
    .second,
    .display-message {
        width: 100%;
        flex-wrap: wrap;
    }
    
    .y-axis p {
        height: 200px;
    }

}