:root {
  /* Global variables */
  --doddle-gray: #444444;
  --doddle-font: "Roboto", sans-serif;
  --doddle-orange: #ff6600;
  --doddle-white: #ffffff;
}

body {
  color: var(--doddle-gray);
  font-family: var(--doddle-font);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.main {
  background-color: var(--doddle-gray);
  border-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  min-height: 100vh;
}

.content {
  text-align: center;
  position: relative;
  padding: 10px;
}

.interface button i {
  font-size: 2.5rem;
  font-weight: bold;
}

.interface button {
  background-color: var(--doddle-orange);
  border-radius: 10px;
  border-style: none;
  color: var(--doddle-white);
  font-size: 1.5rem;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.1s;
  text-transform: capitalize;
  box-shadow: 3px 3px 3px 3px black;
}

.interface button:hover {
  background-color: var(--doddle-gray);
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid black;
}

.interface {
  display: flex;
  justify-content: flex-end;
}

.screen {
  background-color: var(--doddle-white);
  border-radius: 10px;
  padding: 50px 50px 25px 50px;
  margin: 5px auto;
  text-transform: capitalize;
}

.help-text {
  background-color: var(--doddle-white);
  color: var(--doddle-orange);
  border-style: solid;
  border-width: 3px;
  border-color: var(--doddle-gray);
  border-radius: 5px;
  bottom: 20vh;
  right: 5vw;
  width: 25rem;
  box-shadow: 5px 5px 5px 5px black;
  font-family: var(--doddle-font);
  font-size: 1.5rem;
}

.help-text p {
  margin: 10px;
}

.image-background {
  background: url(images/graph2.png);
}

.startPanel {
  background-color: var(--doddle-white);
  border-radius: 5px;
  border-color: var(--doddle-gray);
  border-width: 3px;
  border-style: solid;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  box-shadow: 10px 10px 10px 0px black;
}

.startPanel p {
  margin: 100px;
}

.intro img {
  width: 600px;
}

.heading {
  color: var(--doddle-gray);
  text-align: center;
  font-size: 1.8rem;
}

.intro,
.help-text,
.startPanel .waves-content {
  position: absolute;
}

/* Content */
.waves-content {
  border-radius: 5px;
  border: 3px solid var(--doddle-gray);
  font-size: 24px;
  top: 40%;
  left: 50%;
  margin: auto;
  height: 300px;
  max-height: 300px;
  width: 100%;
  overflow: hidden;
}

.options {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  max-width: 800px;
  padding: 10px;
  border: 3px solid var(--doddle-gray);
}

@media screen and (max-width: 930px) {
  .options {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .selections img {
    width: 100vw;
  }

  .selections {
    width: 90%;
  }
}

.action-buttons {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  color: var(--doddle-gray);
}

@media screen and (max-width: 600px) {
  .action-buttons {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.action-buttons div {
  font-size: 1.2rem;
  font-weight: 600;
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.action-buttons div:nth-child(1) {
  font-weight: 400;
  font-style: italic;
}

.action-buttons div input[type="range"] {
  margin: auto;
  cursor: pointer;
}

.action-buttons div input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(1.6);
}

.action-buttons div input[type="checkbox"] {
  display: none;
}

.action-buttons div label {
  cursor: pointer;
}

.display-grid {
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px black;
  padding: 2px;
  width: 50px;
  margin: 1px auto;
  transition: ease-in-out 0.1s;
}

.display-grid:hover {
  transform: scale(0.9);
}

.hide {
  display: none;
}

.select-type {
  border: 2px solid palevioletred;
  border-radius: 10px;
  background-color: rgb(255, 222, 227);
  margin-top: 20%;
  max-height: 80px;
  max-width: 300px;
}

.select-type p {
  text-align: center;
  vertical-align: middle;
  color: var(--doddle-gray);
  font-size: 1.2rem;
}

.selections,
.action-buttons {
  margin-top: 50px;
}

.selections img {
  width: 30vw;
}

.selections a {
  text-decoration: none;
}

.selections div {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 20px;
  border-radius: 10px;
}

.selections div:hover {
  background-color: pink;
}

.selections div p,
.action-buttons div p {
  color: var(--doddle-gray);
}

.box:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.ball {
  cursor: pointer;
}

.box {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid palevioletred;
  width: 1vw;
  height: 1vw;
  margin-right: 0.2em;
  position: absolute;
  top: 22vh;
}

.change-color {
  background-color: palevioletred;
  fill: palevioletred;
}

@keyframes box {
  0% {
    top: 22vh;
  }

  50% {
    top: 18vh;
  }

  100% {
    top: 22vh;
  }
}

#box1 {
  animation-name: box;
  left: 0vw;
}

#box2 {
  animation-delay: 0.1s;
  animation-name: box;
  left: 1.2vw;
}

#box3 {
  animation-delay: 0.2s;
  animation-name: box;
  left: 2.4vw;
}

#box4 {
  animation-delay: 0.3s;
  animation-name: box;
  left: 3.6vw;
}

#box5 {
  animation-delay: 0.4s;
  animation-name: box;
  left: 4.8vw;
}

#box6 {
  animation-delay: 0.5s;
  animation-name: box;
  left: 6vw;
}

#box7 {
  animation-delay: 0.6s;
  animation-name: box;
  left: 7.2vw;
}

#box8 {
  animation-delay: 0.7s;
  animation-name: box;
  left: 8.4vw;
}

#box9 {
  animation-delay: 0.8s;
  animation-name: box;
  left: 9.6vw;
}

#box10 {
  animation-delay: 0.9s;
  animation-name: box;
  left: 10.8vw;
}

#box11 {
  animation-delay: 1s;
  animation-name: box;
  left: 12vw;
}

#box12 {
  animation-delay: 1.1s;
  animation-name: box;
  left: 13.3vw;
}

#box13 {
  animation-delay: 1.2s;
  animation-name: box;
  left: 14.5vw;
}

#box14 {
  animation-delay: 1.3s;
  animation-name: box;
  left: 15.7vw;
}

#box15 {
  animation-delay: 1.4s;
  animation-name: box;
  left: 16.9vw;
}

#box16 {
  animation-delay: 1.5s;
  animation-name: box;
  left: 18.1vw;
}

#box17 {
  animation-delay: 1.6s;
  animation-name: box;
  left: 19.3vw;
}

#box18 {
  animation-delay: 1.7s;
  animation-name: box;
  left: 20.5vw;
}

#box19 {
  animation-delay: 1.8s;
  animation-name: box;
  left: 21.7vw;
}

#box20 {
  animation-delay: 1.9s;
  animation-name: box;
  left: 22.9vw;
}

#box21 {
  animation-delay: 2s;
  animation-name: box;
  left: 24.1vw;
}

#box22 {
  animation-delay: 2.1s;
  animation-name: box;
  left: 25.3vw;
}

#box23 {
  animation-delay: 2.2s;
  animation-name: box;
  left: 26.5vw;
}

#box24 {
  animation-delay: 2.3s;
  animation-name: box;
  left: 27.7vw;
}

#box25 {
  animation-delay: 2.4s;
  animation-name: box;
  left: 28.9vw;
}

#box26 {
  animation-delay: 2.5s;
  animation-name: box;
  left: 30.1vw;
}

#box27 {
  animation-delay: 2.6s;
  animation-name: box;
  left: 31.3vw;
}

#box28 {
  animation-delay: 2.7s;
  animation-name: box;
  left: 32.5vw;
}

#box29 {
  animation-delay: 2.8s;
  animation-name: box;
  left: 33.7vw;
}

#box30 {
  animation-delay: 2.9s;
  animation-name: box;
  left: 35vw;
}

#box31 {
  animation-delay: 3s;
  animation-name: box;
  left: 36.2vw;
}

#box32 {
  animation-delay: 3.1s;
  animation-name: box;
  left: 37.4vw;
}

#box33 {
  animation-delay: 3.2s;
  animation-name: box;
  left: 38.6vw;
}

#box34 {
  animation-delay: 3.3s;
  animation-name: box;
  left: 39.8vw;
}

#box35 {
  animation-delay: 3.4s;
  animation-name: box;
  left: 41vw;
}

#box36 {
  animation-delay: 3.5s;
  animation-name: box;
  left: 42.1vw;
}

#box37 {
  animation-delay: 3.6s;
  animation-name: box;
  left: 43.3vw;
}

#box38 {
  animation-delay: 3.7s;
  animation-name: box;
  left: 44.5vw;
}

#box39 {
  animation-delay: 3.8s;
  animation-name: box;
  left: 45.6vw;
}

/*Longitudinal*/
.clickable {
  cursor: pointer;
}