:root {
  /* Global variables */
  --doddle-gray: #444444;
  --doddle-font: "Roboto", sans-serif;
  --doddle-orange: #ff6600;
  --doddle-white: #ffffff;
}

body {
  color: var(--doddle-gray);
  font-family: var(--doddle-font);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.main {
  background-color: var(--doddle-gray);
  border-style: none;
  position: relative;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
}

.content {
  margin: 10px auto;
  text-align: center;
  position: relative;
  padding: 10px;
}

.interface button i {
  font-size: 2.5rem;
  font-weight: bold;
}

.interface button {
  background-color: var(--doddle-orange);
  border-radius: 10px;
  border-style: none;
  color: var(--doddle-white);
  font-size: 1.5rem;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.1s;
  text-transform: capitalize;
  box-shadow: 3px 3px 3px 3px black;
}

.interface button:hover {
  background-color: var(--doddle-gray);
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid black;
}

.interface {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: var(--doddle-white);
  border-radius: 10px;
  width: 90%;
  padding: 50px;
  margin: 5px auto;
  text-transform: capitalize;
}

.help-text {
  background-color: var(--doddle-white);
  color: var(--doddle-orange);
  border-style: solid;
  border-width: 3px;
  border-color: var(--doddle-gray);
  border-radius: 5px;
  bottom: 50vh;
  right: 5vw;
  width: 25rem;
  box-shadow: 5px 5px 5px 5px black;
  font-family: var(--doddle-font);
  font-size: 1.5rem;
}

.help-text p {
  margin: 10px;
}

.startPanel {
  background-color: var(--doddle-white);
  border-radius: 5px;
  border-color: var(--doddle-gray);
  border-width: 3px;
  border-style: solid;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
  box-shadow: 10px 10px 10px 0px black;
}

.startPanel p {
  margin: 100px;
}

.intro img {
  width: 600px;
}

.heading {
  color: var(--doddle-gray);
  text-align: center;
  font-family: var(--doddle-font);
}

.intro,
.help-text,
.startPanel {
  position: absolute;
}

/* Content_________________________________________________________________ */
canvas {
  border: 5px solid var(--doddle-gray);
  border-radius: 8px;
  cursor: pointer;
  transform: translateY(5%);
}

#piechart-controls {
  text-align: center;
  font-family: var(--doddle-font);
}

.container {
  padding: 50px;
}
.center {
  max-width: 600px;
  margin: 50px auto;
}

table {
  border-collapse: collapse;

  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  transform: translate(5%, 20%);
}

td,
th {
  border: 2px solid lightgray;
  padding: 10px;
  margin: 0;
  font-family: var(--doddle-font);
  width: 86.6667px;
}

th {
  text-align: center;
  font-size: 3rem;
}

tr {
  display: block;
}

.adjust-button {
  padding: 3px;
  font-size: 3rem;
  line-height: 20px;
  text-align: center;
  border: 1px solid var(--doddle-gray);
  border-radius: 5px;
  margin: 5px 0 3px 0;
  font-family: var(--doddle-font);
  cursor: pointer;
}

div.adjust-button {
  display: inline-block;
  margin: 3px;
}
div.adjust-button:hover {
  transform: scale(1.2);
}

var {
  display: block;
  color: red;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
