:root {
    /* Global variables */
    --doddle-gray: #444444;
    --doddle-font: "Roboto", sans-serif;
    --doddle-orange: #ff6600;
    --doddle-white: #ffffff;
    --doddle-purple: #630560;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--doddle-font);
    background-color: var(--doddle-purple);
    overflow: hidden;
}

.wrapper {
    background-color: var(--doddle-orange);
    border-radius: 1rem;
    margin: 2rem auto;
    width: 40vw;
    text-align: center;
    padding: 2rem;
    max-height: 90vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--doddle-purple) var(--doddle-orange);
}

h1 {
    color: var(--doddle-white);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: var(--doddle-purple);
    text-decoration-style: wavy;
}

h4 {
    color: var(--doddle-purple);
    margin-top: 4rem;
}

.project-list {
    list-style-type: none;
    margin: 4rem auto;
    display: grid;
}

a:not(.link) {
    text-decoration: none;
    color: inherit;
}

a:not(.link) {
    color: var(--doddle-white);
    transition: 0.2s ease all;
    padding: 2rem;
    border-bottom: 0.2rem solid var(--doddle-white);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a:hover:not(.link) span {
    text-decoration: underline;
}

a:hover:not(.link) {
    translate: 2% 0;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--doddle-purple);
}

.category {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.2rem 0.1rem black;
}

.link {
    color: lawngreen;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 769px) {
    .wrapper {
        width: 80vw;
    }

    a:not(.link) {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    h1 {
        line-height: 2;
    }
}