:root {
  /* Global variables */
  --doddle-gray: #444444;
  --doddle-font: "Roboto", sans-serif;
  --doddle-orange: #ff6600;
  --doddle-white: #ffffff;
}

/* * {
  box-sizing: border-box;
} */

body {
  color: var(--doddle-gray);
  font-family: var(--doddle-font);
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.main {
  background-color: var(--doddle-gray);
  border-style: none;
  position: relative;
  margin: 0;
  padding: 0 0 20px 0;
  min-height: 100vh;
}

.content {
  text-align: center;
  position: relative;
  padding: 10px;
}

.interface button i {
  font-size: 2.5rem;
  font-weight: bold;
}

.interface button {
  background-color: var(--doddle-orange);
  border-radius: 10px;
  border-style: none;
  color: var(--doddle-white);
  font-size: 1.5rem;
  font-weight: bold;
  width: 80px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.1s;
  box-shadow: 3px 3px 3px 3px black;
}

.interface button:hover {
  background-color: var(--doddle-gray);
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid black;
}

.interface {
  display: flex;
  justify-content: space-between;
}

/* Help text */
.tooltip {
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40vw;
  background-color: var(--doddle-white);
  border: 2px solid var(--doddle-gray);
  color: var(--doddle-orange);
  text-align: left;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 15;
  bottom: 150%;
  left: 15%;
  margin-right: -55px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 5px 5px 5px 5px black;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--doddle-font);
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-right: -3px;
  border-width: 15px;
  border-style: solid;
  border-color: var(--doddle-white) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.screen {
  background-color: var(--doddle-white);
  border-radius: 10px;
  padding: 50px 50px 25px 50px;
  margin: 5px auto;
}

.startPanel {
  background-color: var(--doddle-white);
  border-radius: 5px;
  border-color: var(--doddle-gray);
  border-width: 3px;
  border-style: solid;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 100px;
  min-width: 40%;
  box-shadow: 10px 10px 10px 0px black;
}

.startPanel p {
  margin: 100px;
}

.intro img {
  width: 600px;
}

.heading {
  color: var(--doddle-gray);
  text-align: center;
  font-size: 1.8rem;
  text-transform: capitalize;
}

.intro,
.startPanel {
  position: absolute;
}

/* Content_________________________________________________________________ */
.golf-course{
  border: 10px solid navy;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#flag{
  position: absolute;
  width: 14%;
  left: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.info{
  position: absolute;
  top: 0;
  right: 5%;
  width: 25%;
  z-index: 15;
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid navy;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  color: navy;
  font-size: 3rem;
}

.instruction{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 3rem;
  color: navy;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}
.instruction input{
  font-size: 3rem;
  width: 90px;
  color: navy;
  text-align: center;
}
.instruction button{
  font-size: 3rem;
  padding: 10px;
  border-radius: 50%;
  color: lime;
  border: 3px solid navy;
  outline: none;
  box-shadow: 5px 5px 5px 5px black;
  transition: 0.05s ease;
}
.instruction button:hover{
  background-color: yellow;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px black;
}
.win-message{
  font-size: 3rem;
  border: 2px solid navy;
  border-radius: 10px;
  color: navy;
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 5px;
  display: none;
}